@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Karens Kontaktoplysninger</title>
</head>
<body>
    <h1>Karen's Kontaktoplysninger</h1>
    <p>Navn: Karen</p>
    <p>E-mail: karen@email.dk</p>
    <p>Telefonnummer: +45 12345678</p>
</body>
</html>